// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    xs: 0,
    sm: 36rem,
    md: 48rem,
    lg: 62rem,
    xl: 75rem
) !default;

$container-offset: 2rem !default;
