/******************/
/*     Card      */
/*****************/
.card{
    padding-bottom: 4rem;
    &::before{
        border: 1px;
    }
}

.card-body{
    flex: 0 1 70%;
    padding-top: 0;
    padding-left: 1rem;
    &>h3{
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

.card-meta{
    padding-right: 1rem;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}

.card-img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}



/****************/
/*   show-card  */
/****************/
.show-card{
    display: flex;
    flex-direction: column;
    .show-card-body{
        display: flex;
        flex-direction: column;
        &>p{
            text-align: justify;
        }
    }
}
