/*****************/
/*    Header     */
/*****************/
.main-header{
    height: 6rem;
    .header-container{
        height: 100%;
        display: flex;
        justify-content: space-between;

    }
}
