nav, .nav{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            a{
                color: inherit;
                text-decoration: none;
                span{

                }
            }
        }
    }
}

.nav{
    &-horizontal{
        &>ul{
            @extend .h-flex;
        }
    }
    &-verical{
        &>ul{
            @extend .v-flex;
        }
    }
}
