.table{
    tr{
        td{
            text-align: center;
        }
    }
}

.justify{
    text-align: justify!important;
}

.td-id{
    width: 5%;
}

.td-title{
    width: 10%;
}

.td-content{
    width: 65%;

}
