/******* table ********/

th, td{
    border-bottom: 1px solid #5a6268;
}

/******* header *******/

header{
    background: #ffffff;
}

/***** content ********/

.wrap-content{
    background: rgba(161, 158, 117, 0.4);
}

.content{
    background: #ffffff;
}

/****** aside *******/

.aside{
    background: #fdfdfe;
}

/***** button ********/

.btn{
    color: #212529;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-edit {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-show {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-delete {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
